
@{
    ViewBag.Title = "About";
}

<h2 class="aboutus">ჩვენ შესახებ</h2>

<div class="card-row">
    <div class="column">
        <div class="card">
            <img src="~/Content/images/alex.jpg" alt="alex" style="width:100%">
            <div class="postcard">
                <h2>ალექსანდრე პეტროსიანი</h2>
                <p class="title">Back End Developer</p>
                <p>alex.petrosian9@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/images/neli.jpg" alt="Mike" style="width:100%">
            <div class="postcard">
                <h2>ნელი ტაბატაძე</h2>
                <p class="title">Designer</p>
                <p>nelitabatadze@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/images/nino.jpg" alt="John" style="width:100%">
            <div class="postcard">
                <h2>ნინო როსტობაია</h2>
                <p class="title">Front End Dev</p>
                <p>nino.rostobaia@gmail.com</p>
            </div>
        </div>
    </div>
</div>