
@{
    ViewBag.Title = "პირადი კაბინეტი";
}

<h2 class="cpanel">პირადი კაბინეტი</h2>

<p>
    <a href="~/Account/ChangePassword">პაროლის შეცვლა</a>
</p>
<p>
    <a href="~/Account/EditPersonalData">პირადი მონაცემების რედაქტირება</a>
</p>
<p>
    <a href="~/Topic/MyTopics">ჩემი პოსტები</a>
</p>