
@{
    ViewBag.Title = "საქონლის დამატება";
}

<h2 class="addProduct">ახალი საქონლის დამატება</h2>
<form action="/Products/AddProduct" method="post" enctype="multipart/form-data" class="form-sizes">
    <div class="form-group">
        <input class="form-control" type="text" name="Name" id="Name" placeholder="სახელი" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="Description" id="Description" placeholder="დასახიათება" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="MtMeasureUnit" id="MtMeasureUnit" placeholder="საზ. ერთ." />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="MtGroup" id="MtGroup" placeholder="ჯგუფი" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="Price" id="Price" placeholder="ფასი" />
    </div>
    <div style="margin-top:10px">
        <p>სურათი</p>
        <input type="file" name="imageToUpload" id="imageToUpload" accept=".jpg, .jpeg, .png" />
    </div>
    <div style="margin-top:10px">
        <input type="submit" class="btn btn-success" value="შენახვა" />
    </div>
</form>
@*<button style="margin-top:30px" id="AddProductButton">Save</button>*@
