@model ProjectZ.Models.Database.Topic
@{
    ViewBag.Title = "რედაქტირება";
}
<script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
<h2 class="editTopic">რედაქტირება</h2>
<form action="/Topic/Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id" />
    <div>
        <p>სათაური</p>
        <input type="text" name="Title" placeholder="პოსტის სათაური" value="@Model.Title" />
    </div>
    <div style="margin-top:10px">
        <p>სურათი</p>
        <input type="file" name="imageToUpload" accept=".jpg, .jpeg .png" />
    </div>
    <div style="margin-top:10px">
        <p>ტექსტი</p>
        <textarea id="editor" name="Text">@Html.Raw(Model.Text)</textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    </div>
    <div style="margin-top:10px">
        <input type="submit" class="btn btn-success" value="შენახვა" />
    </div>
</form>